

<div class="header-container">
    <div class="header-text-title">
      <h1><%= @list.name %></h1>
    </div>
    <div class="header-text-action">
      <%= link_to "Delete this list", list_path(@list), method: :delete, class: "header-delete-button", data: { confirm: "Are you sure you want to delete this list?" } %> |
      <%= link_to 'Create a bookmark', new_list_bookmark_path(@list), class: "header-create-button" %>
    </div>
  </div>
</div>

<hr class="header-break">

<div class="cards-container">
  <div class="cards">
   <% @list.bookmarks.each do |bookmark| %>
        <div class="card card-list">
          <img src=<%= bookmark.movie.poster_url %> class="card-picture" alt="movie-poster">
          <div class="card-body">
            <h5 class="card-title"><%= bookmark.movie.title %></h5>
            <p class="card-comment">"<%= bookmark.comment %>"</p>
            <%= link_to "Delete this bookmark", bookmark_path(bookmark), method: :delete, class: "card-delete-button", data: { confirm: "Are you sure you want to delete this bookmark?" } %>
          </div>
        </div>
      <% end %>
      <div class="card card-add">
        <img src=<%= @movies.find_by(id: rand(797..830)).poster_url %> class="card-picture" alt="movie-poster">
        <div class="card-body">
          <%= link_to 'Create a bookmark', new_list_bookmark_path(@list), class: "card-create-button" %>
          <p class="card-comment card-comment-add">"Write your bookmark"</p>
        </div>
      </div>
  </div>
</div>
